# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build
permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        node-version: [ 20.x, 22.x, lts/*, latest ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        exclude:
          - node-version: 20.x
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
      - run: npm ci
      - run: npm run lint
      - run: npm test
      - run: node -e "console.log(Math.round(require('v8').getHeapStatistics().heap_size_limit / (1024 * 1024)) + ' MB')"
