# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build
permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        node-version: [ 20.x, 22.x, lts/*, latest ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
      - run: npm ci
      - run: npm run lint
      - name: Run non-parallel test (Node 20 + Ubuntu only)
        if: ${{ matrix.node-version == '20.x' && startsWith(matrix.os, 'ubuntu-latest') }}
        run: npm run test-single
      - name: Run standard test (Others)
        if: ${{ !(matrix.node-version == '20.x' && startsWith(matrix.os, 'ubuntu-latest')) }}
        run: npm test
